* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', Arial, sans-serif;
}

body {
  background: #fff;
  color: #000;
  max-width: 430px;
  margin: auto;
}

/* --- HEADER --- */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000;
  color: #fff;
  padding: 1rem;
  position: relative;
}

.logo {
  font-weight: bold;
  font-size: 1.6rem;
  letter-spacing: 1px;
  margin-left: 10px;
}

.menu-toggle {
  width: 35px;
  height: 28px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1001;
}

.menu-toggle span {
  display: block;
  height: 4px;
  background-color: white;
  border-radius: 4px;
  transition: 0.3s;
}

/* --- ANIMACIÓN hamburguesa a cruz --- */
.menu-toggle.open span:nth-child(1) {
  transform: translateY(12px) rotate(45deg);
}

.menu-toggle.open span:nth-child(2) {
  opacity: 0;
}

.menu-toggle.open span:nth-child(3) {
  transform: translateY(-12px) rotate(-45deg);
}

/* --- MENÚ DESPLEGABLE --- */
.menu {
  position: absolute;
  top: 60px;
  right: 10px;
  background: #000;
  display: none;
  flex-direction: column;
  text-align: left;
  padding: 1rem 1.5rem;
  border-radius: none;
  width: 230px; /* ancho del rectángulo */
}

.menu.show {
  display: flex;
}

.menu ul {
  list-style: none;
  width: 100%;
}

.menu li {
  border-bottom: 1px solid #E34713;
  padding: 0.8rem 0;
}

.menu li:last-child {
  border-bottom: none;
}

.menu a {
  color: #fff;
  text-decoration: none;
  font-family: 'Raleway';
  font-weight: 600;
  font-size: 1rem;
  transition: color 0.3s;
}

.menu a:hover {
  color: #E34713;
}

/* --- SECCIONES --- */
.map-section {
  background: #E6E6E6;
  padding: 1rem;
  width: 380px;
  margin: 1.5rem auto;
  border-radius: 10px;
}

.map-toggle {
  background: none;
  border: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}

.ubicacion-icon {
  font-size: 28px;
  color: #000000;
}

.ubicacion-texto {
  font-family: Raleway;
  font-size: 1.1rem;
  color: #000;
}

.arrow {
  margin-left: auto;
  font-size: 44px;
  color: #000000;
}

.map-content {
  display: none;
  margin-top: 1rem;
}

.mapa {
  width: 100%;
  height: 250px;
  border-radius: 10px;
  object-fit: cover;
  display: block;
  margin: 1.5rem auto;
}

.hibiscodebañado {
  width: 100%;
  height: 250px;
  border-radius: 10px;
  object-fit: cover;
  display: block;
  margin: 1.5rem auto;
}

.content {
  padding: 1.5rem;
}

.content h2 {
  font-family: Raleway;
  font-size: 1.8rem;
  line-height: 2.5rem;
  font-weight: 550;
}

.highlight {
  font-family: Raleway;
  color: #E34713;
  font-size: 2.5rem;
  font-weight: 800;
}

.content p {
  color: #333;
  line-height: 1.5;
  margin-bottom: 1rem;
}

/* --- MEMORIAS --- */
.memories {
  padding: 1.5rem;
}

.memories h3 {
  margin-bottom: 1.5rem;
  font-family: Raleway;
  font-weight: 700;
  color: #000;
  margin-left: 22px;
  font-size: 25px;
}

.carousel {
  position: relative;
  width: 100%;
  max-width: 430px;
  margin: 1.5rem auto;
  overflow: hidden;
}

.carousel-track {
  display: flex;
  transition: transform 0.3s ease;
}

.carousel-item {
  min-width: 100%;
  box-sizing: border-box;
  text-align: center;
  padding: 1.5rem;
  background: rgba(231, 231, 231, 1);
}

.carousel-item img {
  width: 100%;
  height: 250px;
  border-radius: 10px;
  object-fit: cover;
  margin-bottom: 1rem;
}

.carousel-item blockquote {
  font-style: italic;
  color: #222;
  font-size: 18px;
  font-weight: 700;
}

.carousel-item .author {
  display: block;
  color: #E34713;
  font-size: 15px;
  font-weight: 700;
  text-align: right;
  margin-top: 0.5rem;
}

/* --- PUNTOS --- */
.carousel-indicators {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap: 5px;
}

.carousel-indicators .dot {
  width: 10px;
  height: 10px;
  background: #ccc;
  border-radius: 50%;
  display: inline-block;
}

.carousel-indicators .dot.active {
  background: #E34713;
}

/* --- FINAL TEXT --- */
.final-text {
  margin-top: 80px;
  background: #000;
  color: #fff;
  width: 100%;
  padding: 1rem 1.5rem;
  text-align: left;
  font-size: 12px;
}